.Portalbox{
    margin: auto;
    margin-top: 20vh;
    height: 75vh;
    width: 75vw;
    background-color: rgb(234, 234, 234);
    justify-content: center;
    text-align:left;
    box-shadow: 5px 5px 20px;
    border-radius: 10px;
}
#header{
    margin-bottom: 0vh;
    margin-left: 1vw;
    margin-top: 0rem;
    color: rgb(78, 77, 77);
    text-align: left;
}

.paymentbox{
    margin: auto;
    margin-top: 10vh;
    height: 28vh;
    width:50%;
    background-color: rgb(172, 212, 225);
    opacity: 0.5;
    font-size: 1.5em;
    text-align: center;

}
hr{
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
b{
    margin-bottom: 0;
}

.paymentButton{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, 90%);
    transform: translate(-50%, 90%);
}

.loginBTN{
    background-color: lightblue; 
<<<<<<< HEAD
    width: fit-content;
=======
    font-size:3vh;
>>>>>>> c46f36371df0118a97ff8efa4eadcad51390d3f9
    border: none;
    padding: 2vw 6vh;
    margin-top: 6vh;
    justify-content: center;
    text-align: center;
    border-radius: 12px;
}